
hr {
  clear: both;
  border: 0;
  height: 13px;
  background-image: url('../img/hr.png');
}

main p {
  line-height: 1.3em;
  text-indent: 30px;
  margin: 20px 0px;
}

h2 {
  margin-top: 50px;

}


section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }


.print, .date {
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 33px;
  }
  
.date {
    float: left;
  }


.print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
  }
  
  .print img {
    margin-right: 3px;
  }
  
footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}
